USE [master]
GO
/****** Object:  Database [QuanLyBanQuanCafe]    Script Date: 8/13/2020 10:34:05 AM ******/
CREATE DATABASE [QuanLyBanQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanQuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyBanQuanCafe.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanQuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyBanQuanCafe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanQuanCafe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[MaKhuVuc] [nchar](50) NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BangPhanCongCV]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangPhanCongCV](
	[CaLamViec] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[MaNhanVien] [nchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_BangPhanCongCV] PRIMARY KEY CLUSTERED 
(
	[CaLamViec] ASC,
	[NgayLam] ASC,
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[CaLamViec] [int] NOT NULL,
	[GioLamViec] [nvarchar](50) NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[CaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHoaDon] [int] NOT NULL,
	[MaBan] [int] NOT NULL,
	[MaMon] [nchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaBan] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSachMonDaGoi]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMonDaGoi](
	[MaBan] [int] NOT NULL,
	[MaMon] [nchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_DanhSachMonDaGoi_1] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSachMonGoi]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMonGoi](
	[MaBan] [int] NOT NULL,
	[MaMon] [nchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [money] NULL,
 CONSTRAINT [PK_DanhSachMonGoi] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGiamGia] [nchar](50) NOT NULL,
	[TenSuKien] [nchar](50) NULL,
	[PhantramGiam] [int] NULL,
 CONSTRAINT [PK_GiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayXuat] [date] NULL,
	[TongTien] [money] NULL,
	[MaGiamGia] [nchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoNguyenLieu]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoNguyenLieu](
	[MaNguyenLieu] [nchar](50) NOT NULL,
	[TenNguyenLieu] [nchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[DVT] [nchar](10) NULL,
	[NgayNhap] [date] NULL,
 CONSTRAINT [PK_KhoNguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [nchar](50) NOT NULL,
	[SoLuongBan] [int] NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[MaManHinh] [nchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ManHinh] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MaMon] [nchar](50) NOT NULL,
	[TenMon] [nchar](50) NULL,
	[Gia] [money] NULL,
	[DVT] [nchar](10) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](50) NOT NULL,
	[TenNhanVien] [nchar](50) NULL,
	[MaNhomNV] [nchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomNguyenLieu]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguyenLieu](
	[MaMon] [nchar](50) NOT NULL,
	[MaNguyenLieu] [nchar](50) NOT NULL,
	[SoLuongSuDung] [int] NULL,
 CONSTRAINT [PK_NhomNguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomNhanVien]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNhanVien](
	[MaNhomNV] [nchar](50) NOT NULL,
	[TenNhomNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaNhomNV] [nchar](50) NOT NULL,
	[MaManHinh] [nchar](50) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanLyThuChi]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyThuChi](
	[MaHoaDon] [nchar](50) NOT NULL,
	[MaNguyenLieu] [nchar](50) NOT NULL,
	[NgayThongKe] [date] NULL,
	[TongSo] [money] NULL,
 CONSTRAINT [PK_QuanLyThuChi] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanNhomNV]    Script Date: 8/13/2020 10:34:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNhomNV](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MaNhomNV] [nchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoanNhomNV] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC,
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [MaKhuVuc]) VALUES (1, N'Ban 1', 1, N'T1                                                ')
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [MaKhuVuc]) VALUES (2, N'Ban 2', 0, N'T1                                                ')
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [MaKhuVuc]) VALUES (3, N'Ban 3', 0, N'T1                                                ')
SET IDENTITY_INSERT [dbo].[Ban] OFF
INSERT [dbo].[BangPhanCongCV] ([CaLamViec], [NgayLam], [MaNhanVien], [GhiChu]) VALUES (1, CAST(0x59410B00 AS Date), N'NV01                                              ', NULL)
INSERT [dbo].[BangPhanCongCV] ([CaLamViec], [NgayLam], [MaNhanVien], [GhiChu]) VALUES (1, CAST(0x5A410B00 AS Date), N'NV01                                              ', NULL)
INSERT [dbo].[BangPhanCongCV] ([CaLamViec], [NgayLam], [MaNhanVien], [GhiChu]) VALUES (2, CAST(0x5A410B00 AS Date), N'NV02                                              ', NULL)
INSERT [dbo].[CaLamViec] ([CaLamViec], [GioLamViec]) VALUES (1, N'8h-16h')
INSERT [dbo].[CaLamViec] ([CaLamViec], [GioLamViec]) VALUES (2, N'16h-22h')
INSERT [dbo].[ChiTietHD] ([MaHoaDon], [MaBan], [MaMon], [SoLuong], [DonGia]) VALUES (2, 1, N'CF1                                               ', 3, 10000.0000)
INSERT [dbo].[ChiTietHD] ([MaHoaDon], [MaBan], [MaMon], [SoLuong], [DonGia]) VALUES (2, 1, N'CF2                                               ', 1, 20000.0000)
INSERT [dbo].[ChiTietHD] ([MaHoaDon], [MaBan], [MaMon], [SoLuong], [DonGia]) VALUES (3, 1, N'CF2                                               ', 1, 20000.0000)
INSERT [dbo].[DanhSachMonGoi] ([MaBan], [MaMon], [SoLuong], [Gia]) VALUES (1, N'CF1                                               ', 3, 10000.0000)
INSERT [dbo].[DanhSachMonGoi] ([MaBan], [MaMon], [SoLuong], [Gia]) VALUES (1, N'CF2                                               ', 1, 20000.0000)
INSERT [dbo].[DanhSachMonGoi] ([MaBan], [MaMon], [SoLuong], [Gia]) VALUES (1, N'TT1                                               ', 1, 50000.0000)
INSERT [dbo].[GiamGia] ([MaGiamGia], [TenSuKien], [PhantramGiam]) VALUES (N'None                                              ', N'Reset                                             ', 0)
INSERT [dbo].[GiamGia] ([MaGiamGia], [TenSuKien], [PhantramGiam]) VALUES (N'VC1                                               ', N'Mùa hè xanh                                     ', 10)
INSERT [dbo].[GiamGia] ([MaGiamGia], [TenSuKien], [PhantramGiam]) VALUES (N'VC2                                               ', N'Ngày đẹp trời                                  ', 15)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [TongTien], [MaGiamGia]) VALUES (2, CAST(0x10410B00 AS Date), 5000.0000, N'VC1                                               ')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [TongTien], [MaGiamGia]) VALUES (3, CAST(0x10410B00 AS Date), 170000.0000, N'None                                              ')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [TongTien], [MaGiamGia]) VALUES (4, CAST(0x10410B00 AS Date), 10000.0000, N'None                                              ')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[KhoNguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuong], [DonGia], [DVT], [NgayNhap]) VALUES (N'NL01                                              ', N'Sữa                                               ', 183, 20000.0000, N'1000ml    ', CAST(0x64410B00 AS Date))
INSERT [dbo].[KhoNguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuong], [DonGia], [DVT], [NgayNhap]) VALUES (N'NL02                                              ', N'Cafe                                              ', 183, 100000.0000, N'1000gram  ', CAST(0x64410B00 AS Date))
INSERT [dbo].[KhoNguyenLieu] ([MaNguyenLieu], [TenNguyenLieu], [SoLuong], [DonGia], [DVT], [NgayNhap]) VALUES (N'NL3                                               ', N'Trà sữa                                         ', 200, 50000.0000, N'Gói      ', CAST(0x5C410B00 AS Date))
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [SoLuongBan], [TenKhuVuc]) VALUES (N'T1                                                ', 30, NULL)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [SoLuongBan], [TenKhuVuc]) VALUES (N'T2                                                ', 40, NULL)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [SoLuongBan], [TenKhuVuc]) VALUES (N'T3                                                ', 50, NULL)
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH01                                              ', N'Màn hình quản lý bán hàng')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH02                                              ', N'Màn hình thực đơn')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH03                                              ', N'Màn hình chi tiết bàn')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaNhomNV]) VALUES (N'NV01                                              ', N'Huy                                               ', N'NV                                                ')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaNhomNV]) VALUES (N'NV02                                              ', N'Khiem                                             ', N'NV                                                ')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaNhomNV]) VALUES (N'QL01                                              ', N'Tuan                                              ', N'QL                                                ')
INSERT [dbo].[NhomNguyenLieu] ([MaMon], [MaNguyenLieu], [SoLuongSuDung]) VALUES (N'CF1                                               ', N'NL01                                              ', 1)
INSERT [dbo].[NhomNguyenLieu] ([MaMon], [MaNguyenLieu], [SoLuongSuDung]) VALUES (N'CF1                                               ', N'NL02                                              ', 1)
INSERT [dbo].[NhomNguyenLieu] ([MaMon], [MaNguyenLieu], [SoLuongSuDung]) VALUES (N'TT1                                               ', N'NL3                                               ', 1)
INSERT [dbo].[NhomNhanVien] ([MaNhomNV], [TenNhomNV]) VALUES (N'AD                                                ', N'Admin')
INSERT [dbo].[NhomNhanVien] ([MaNhomNV], [TenNhomNV]) VALUES (N'NV                                                ', N'Nhân viên')
INSERT [dbo].[NhomNhanVien] ([MaNhomNV], [TenNhomNV]) VALUES (N'QL                                                ', N'Quản lý')
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (N'AD                                                ', N'MH01                                              ', 0)
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (N'AD                                                ', N'MH02                                              ', 0)
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (N'AD                                                ', N'MH03                                              ', 0)
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau]) VALUES (N'admin                                             ', N'admin                                             ')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau]) VALUES (N'hihi                                              ', N'123                                               ')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau]) VALUES (N'Khiem                                             ', N'123                                               ')
INSERT [dbo].[TaiKhoanNhomNV] ([TaiKhoan], [MaNhomNV], [GhiChu]) VALUES (N'admin                                             ', N'AD                                                ', NULL)
INSERT [dbo].[TaiKhoanNhomNV] ([TaiKhoan], [MaNhomNV], [GhiChu]) VALUES (N'hihi                                              ', N'AD                                                ', NULL)
INSERT [dbo].[TaiKhoanNhomNV] ([TaiKhoan], [MaNhomNV], [GhiChu]) VALUES (N'Khiem                                             ', N'NV                                                ', NULL)
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[BangPhanCongCV]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCongCV_CaLamViec] FOREIGN KEY([CaLamViec])
REFERENCES [dbo].[CaLamViec] ([CaLamViec])
GO
ALTER TABLE [dbo].[BangPhanCongCV] CHECK CONSTRAINT [FK_BangPhanCongCV_CaLamViec]
GO
ALTER TABLE [dbo].[BangPhanCongCV]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCongCV_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[BangPhanCongCV] CHECK CONSTRAINT [FK_BangPhanCongCV_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_Ban]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_Menu] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Menu] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_Menu]
GO
ALTER TABLE [dbo].[DanhSachMonGoi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachMonGoi_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[DanhSachMonGoi] CHECK CONSTRAINT [FK_DanhSachMonGoi_Ban]
GO
ALTER TABLE [dbo].[DanhSachMonGoi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachMonGoi_Menu] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Menu] ([MaMon])
GO
ALTER TABLE [dbo].[DanhSachMonGoi] CHECK CONSTRAINT [FK_DanhSachMonGoi_Menu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NhomNhanVien] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NhomNhanVien] ([MaNhomNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NhomNhanVien]
GO
ALTER TABLE [dbo].[NhomNguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguyenLieu_KhoNguyenLieu] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[KhoNguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[NhomNguyenLieu] CHECK CONSTRAINT [FK_NhomNguyenLieu_KhoNguyenLieu]
GO
ALTER TABLE [dbo].[NhomNguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguyenLieu_Menu] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Menu] ([MaMon])
GO
ALTER TABLE [dbo].[NhomNguyenLieu] CHECK CONSTRAINT [FK_NhomNguyenLieu_Menu]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_ManHinh] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[ManHinh] ([MaManHinh])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ManHinh]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_NhomNhanVien] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NhomNhanVien] ([MaNhomNV])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_NhomNhanVien]
GO
ALTER TABLE [dbo].[QuanLyThuChi]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyThuChi_KhoNguyenLieu] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[KhoNguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[QuanLyThuChi] CHECK CONSTRAINT [FK_QuanLyThuChi_KhoNguyenLieu]
GO
ALTER TABLE [dbo].[TaiKhoanNhomNV]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanNhomNV_NhomNhanVien] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NhomNhanVien] ([MaNhomNV])
GO
ALTER TABLE [dbo].[TaiKhoanNhomNV] CHECK CONSTRAINT [FK_TaiKhoanNhomNV_NhomNhanVien]
GO
ALTER TABLE [dbo].[TaiKhoanNhomNV]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanNhomNV_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[TaiKhoanNhomNV] CHECK CONSTRAINT [FK_TaiKhoanNhomNV_TaiKhoan]
GO
USE [master]
GO
